/Jobsheet11/JavaApi/nbproject/private/
/Jobsheet11/JavaApi/build/
/Jobsheet Collection dan Database/Biodata/nbproject/private/
/Jobsheet Collection dan Database/Biodata/build/
/Jobsheet Collection dan Database/ProduckGui/nbproject/private/
